<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goodbye</title>
  </head>
  <body>
    <%name = "karlie" %> #definining a variable
    <!--This is a comment defining varaible-->
  <p><%= "Hello #{name}"%></p>
  </body>
  </html>


